body {
  margin: 50px 120px;
  max-width: 1200px;
  height: 100vh;
  border: 1px solid red;

  font-family: "Montserrat", sans-serif;

  $primary-color: #033733;
  $secondary-color: #2db7a8;
}
