@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 1024px) {
  .header {
    padding: 0 70px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media all and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 82%;
    padding: 0 50px;
  }
}
@media all and (max-width: 480px) {
  .header {
    padding: 0 50px;
  }
}
@media all and (max-width: 320px) {
  .header {
    padding: 0 10px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
  color: #033733;
}
@media all and (max-width: 768px) {
  .header {
    /*Animate lines*/
  }
  .header .menu-btn {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 39px;
    min-width: 39px;
    height: 39px;
    color: #2db7a8;
    cursor: pointer;
    z-index: 99;
  }
  .header .btn-line {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #2db7a8;
  }
  .header .menu-btn.open .btn-line:nth-child(2) {
    opacity: 0;
  }
  .header .menu-btn.open .btn-line:nth-child(1) {
    -webkit-transform: translateY(15px) rotate(45deg);
        -ms-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
  .header .menu-btn.open .btn-line:nth-child(3) {
    -webkit-transform: translateY(-15px) rotate(-45deg);
        -ms-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
  }
  .header .burger-popup {
    z-index: 9;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #033733;
    padding: 1rem;
    -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: left 0.3s ease 0.3s;
    transition: left 0.3s ease 0.3s;
  }
  .header .burger-popup.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__category {
  margin-left: 60px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}
.header__category.active {
  display: block;
  z-index: 100;
  position: absolute;
}
@media all and (max-width: 1024px) {
  .header__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .header__category:first-child {
    display: block;
  }
  .header__category .hidden {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .header__category {
    display: none;
  }
}
.header__category-item {
  width: 83px;
  margin: 0 20px 0 0;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}
.header__category-item:hover {
  color: #2db7a8;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__category-item.active {
  font-size: 48px;
  color: #fff;
}
@media all and (max-width: 1024px) {
  .header__category-item {
    margin: 0 10px 0 20px;
  }
}
@media all and (max-width: 768px) {
  .header__category-item {
    display: none;
  }
}
.header__arrow {
  display: none;
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .header__arrow {
    display: block;
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  .header__arrow {
    display: none;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
@media all and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts-phone {
  font-size: 17px;
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
}
.header__contacts-phone:hover {
  color: #2db7a8;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header__contacts-divider {
  margin: 0 5px;
  height: 18.5px;
  border-left: 1px solid #a9a9a9;
}
.header__calls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 380px;
}
@media all and (max-width: 480px) {
  .header__calls-wrapper {
    display: none;
  }
}
.header__call {
  font-weight: 200;
}
.header__call-btn {
  width: 194px;
  height: 39px;
  background: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid #2db7a8;
  font-size: 17px;
  cursor: pointer;
}
.header__call-btn:hover {
  background: #2db7a8;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__login {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 768px) {
  .header__login {
    margin-left: 20px;
  }
}
.header__login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: 400;
  width: 105px;
  height: 39px;
  outline: none;
  border: none;
  color: #fff;
  background: #2db7a8;
  border-radius: 80px;
  cursor: pointer;
}
.header__login-btn:hover {
  background: #189789;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__login-language-btn {
  margin-left: 20px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
@media all and (max-width: 768px) {
  .header__login-language-btn {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .homepage {
    padding: 0 70px;
  }
}
@media all and (max-width: 768px) {
  .homepage {
    padding: 0 50px;
  }
}
@media all and (max-width: 480px) {
  .homepage {
    padding: 50px;
  }
}
@media all and (max-width: 320px) {
  .homepage {
    padding: 10px;
  }
}

.landing {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 480px) {
  .landing {
    margin-bottom: 0;
  }
}
.landing__info-wrapper {
  margin-top: 150px;
  width: 590px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media all and (max-width: 480px) {
  .landing__info-wrapper {
    width: 100%;
    margin-top: 0;
    height: 100%;
  }
}
@media all and (max-width: 320px) {
  .landing__info-wrapper {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
}
.landing__title {
  width: 590px;
  font-weight: 700;
  font-size: 44px;
  color: #033733;
  margin: 0;
}
@media all and (max-width: 480px) {
  .landing__title {
    font-size: 32px;
    text-wrap: wrap;
    width: 100%;
  }
}
@media all and (max-width: 320px) {
  .landing__title {
    font-size: 25.64px;
    text-wrap: wrap;
    width: 100%;
  }
}
.landing__subtitle {
  margin: 20px 0;
  font-size: 20px;
}
@media all and (max-width: 480px) {
  .landing__subtitle {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .landing__subtitle {
    font-size: 12.82px;
  }
}
.landing__courses-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 331px;
  height: 81px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 48px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
@media all and (max-width: 480px) {
  .landing__courses-btn {
    width: 100%;
  }
}
.landing__courses-btn:hover {
  background: #189789;
}
.landing__courses-btn:active {
  background: #033733;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.landing__img-wrapper {
  position: relative;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media all and (max-width: 480px) {
  .landing__img-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media all and (max-width: 320px) {
  .landing__img-wrapper {
    height: 250px;
  }
}
.landing__img-vector {
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 50px;
}
@media all and (max-width: 1024px) {
  .landing__img-vector {
    top: 50px;
    left: 30px;
    width: 482px;
  }
}
@media all and (max-width: 480px) {
  .landing__img-vector {
    top: 0;
    left: 20px;
    width: 318.34px;
    height: 381.1px;
  }
}
@media all and (max-width: 320px) {
  .landing__img-vector {
    width: 251.66px;
    height: 301.28px;
    top: 0;
    left: 15px;
  }
}
.landing__img {
  width: 666px;
  height: 666px;
  position: absolute;
  z-index: 2;
}
@media all and (max-width: 1024px) {
  .landing__img {
    width: 482px;
    height: 482px;
  }
}
@media all and (max-width: 480px) {
  .landing__img {
    width: 318.34px;
    height: 381.1px;
  }
}
@media all and (max-width: 320px) {
  .landing__img {
    width: 251.66px;
    height: 301.28px;
  }
}

.section-title {
  color: #033733;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 50px 0;
}
.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.courses__arrow-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 90px;
  width: 90px;
  height: 90px;
  background: #2db7a8;
  border-radius: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
@media all and (max-width: 480px) {
  .courses__arrow-btn {
    position: static;
    min-width: 67px;
    width: 67px;
    height: 67px;
  }
}
@media all and (max-width: 320px) {
  .courses__arrow-btn {
    position: static;
    min-width: 67px;
    width: 67px;
    height: 67px;
    top: 1220px;
  }
}
.courses__arrow-btn:hover {
  background: #033733;
}
.courses__arrow-left {
  left: 0;
}
.courses__arrow-right {
  right: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media all and (max-width: 1024px) {
  .courses__list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.courses__card {
  width: 380px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  border: 1px solid #ccc;
}
@media all and (max-width: 768px) {
  .courses__card {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  .courses #card-3 {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .courses #card-2,
  .courses #card-3 {
    display: none;
  }
}
.courses__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.courses__text {
  padding: 0 10px 10px 10px;
}
.courses__text h3 {
  font-size: 24px;
  color: #033733;
}
.courses__text p {
  font-size: 16px;
  color: #5a5a5a;
}
.courses__btn {
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.courses__btn-green {
  width: 231px;
  height: 43px;
  font-weight: 700;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media all and (max-width: 768px) {
  .courses__btn-green {
    width: 100%;
  }
}
.courses__btn-green:hover {
  background: #189789;
  color: #fff;
}
.courses__btn-white {
  width: 231px;
  height: 43px;
  font-weight: 700;
  background: #ffffff;
  border: 1px solid #2db7a8;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media all and (max-width: 768px) {
  .courses__btn-white {
    width: 100%;
  }
}
.courses__btn-white:hover {
  background: #2db7a8;
  color: #fff;
}

.promotion {
  height: 450px;
}
.promotion__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
}
@media all and (max-width: 320px) {
  .promotion__wrapper {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 400px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .swiper {
    height: 320px;
  }
}
.swiper-slide {
  margin-right: 320px !important;
  width: 720px;
  position: absolute;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media all and (max-width: 768px) {
  .swiper-slide {
    margin-right: 520px !important;
    width: 577px;
    height: 280px;
  }
}
@media all and (max-width: 480px) {
  .swiper-slide {
    margin-right: 470px !important;
    width: 356px;
    height: 280px;
  }
}
@media all and (max-width: 320px) {
  .swiper-slide {
    min-width: 577px;
    width: 100%;
    height: 280px;
  }
}

.swiper-slide img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 720px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}
@media all and (max-width: 768px) {
  .swiper-slide img {
    min-width: 577px;
    height: 280px;
  }
}
@media all and (max-width: 480px) {
  .swiper-slide img {
    width: 285px;
    height: 280px;
  }
}
.about-school__img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 463px;
}
@media all and (max-width: 480px) {
  .about-school__img {
    height: 283px;
    width: 100%;
  }
}
.about-school__text-container p {
  font-size: 20px;
  font-weight: 400;
  color: #5a5a5a;
}
.about-school__text-container strong {
  color: #000000;
  margin: 0;
  padding: 0;
}

.our-teacher__card-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media all and (max-width: 1024px) {
  .our-teacher__card-info-list {
    gap: 20px;
  }
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-item {
    width: 270px;
  }
}
@media all and (max-width: 480px) {
  .our-teacher__card-info-item {
    width: 100%;
  }
}
.our-teacher__card-info-name {
  font-size: 24px;
  font-weight: 700;
  color: #033733;
}
.our-teacher__card-info-desc {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 21px;
  height: 100%;
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-desc {
    padding-left: 20px;
  }
}
.our-teacher__card-info-img {
  max-width: 380px;
  max-height: 422px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-img {
    width: 267px;
    height: 288px;
  }
}
@media all and (max-width: 480px) {
  .our-teacher__card-info-img {
    width: 100%;
    height: 100%;
  }
}

.contacts {
  margin-top: 50px;
  background: #033733;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 20px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 768px) {
  .contacts {
    padding: 70px;
  }
}
@media all and (max-width: 480px) {
  .contacts {
    padding: 50px;
  }
}
@media all and (max-width: 320px) {
  .contacts {
    padding: 30px;
  }
}
.contacts span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
@media all and (max-width: 768px) {
  .contacts span {
    font-size: 24px;
  }
}
.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.contacts__info-wrapper {
  height: 100%;
  padding: 0;
}
.contacts__info-title {
  color: #fff;
  font-size: 32px;
  margin: 0 0 30px;
  width: 100%;
}
@media all and (max-width: 480px) {
  .contacts__info-title {
    text-align: center;
    font-size: 46px;
  }
}
@media all and (max-width: 320px) {
  .contacts__info-title {
    font-size: 36.29px;
  }
}
.contacts__info-phone, .contacts__info-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.contacts__info-mail {
  margin-top: 30px;
}
.contacts__info-phone-img {
  margin-right: 20px;
  width: 22px;
  height: 22px;
}
.contacts__info-phone-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__info-phone-numbers span {
  margin-bottom: 10px;
}
@media all and (max-width: 320px) {
  .contacts__info-phone-numbers {
    font-size: 19.28px;
  }
}
.contacts__divider {
  margin: 0 20px;
  height: 168px;
  border-right: 1px solid #ffffff;
}
@media all and (max-width: 768px) {
  .contacts__divider {
    height: 0;
    margin: 20px 0;
    width: 100%;
    border-top: 2px solid #ffffff;
  }
}
.contacts__subscribe-container {
  margin-right: 70px;
  min-width: 464px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-container {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__subscribe-title {
  width: 100%;
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-title {
    width: 220px;
    text-wrap: wrap;
    text-align: left;
  }
}
.contacts__subscribe-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts__subscribe-email {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 64px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  padding: 15px;
  color: #b3b3b3;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-email {
    width: 220px;
    border-radius: 20px;
    margin: 0;
  }
}
.contacts__subscribe-btn {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  width: 177px;
  min-width: 150px;
  height: 64px;
  border-radius: 0px 20px 20px 0px;
  font-size: 17px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: #2db7a8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-btn {
    width: 220px;
    border-radius: 20px;
    margin: 0;
    margin-top: 30px;
  }
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login__logo--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.login__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.login__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
}
.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 5em;
}
.login__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login__switch--btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}
.login__input--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.login__input {
  height: 30px;
  width: 300px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.login__help--btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2db7a8;
  font-weight: 600;
  font-size: 12px;
  padding: 0;
}
.login__btn {
  width: 316px;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
.login__btn:hover {
  background: #189789;
}
.login__btn:active {
  background: #033733;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.courses {
  margin: 3em;
}
.courses__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 768px) {
  .courses__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (max-width: 480px) {
  .courses__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
.courses__card {
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  border: 1px solid #ccc;
}
.courses__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.courses__text {
  padding: 0 10px 10px 10px;
}
.courses__btns {
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.courses__btns--green {
  width: 231px;
  height: 43px;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
}
.courses__btns--white {
  width: 231px;
  height: 43px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}

.courses__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin: 4em 0 2em 0;
  height: 424px;
}
.courses__page--photoWrap {
  border-radius: 20px;
  position: relative;
}
.courses__page--photo {
  max-width: 800px;
}
.courses__page--title {
  position: absolute;
  font-size: 32px;
  color: white;
  left: 20%;
  top: 20%;
}
.courses__page--about {
  max-width: 800px;
}
.courses__page--popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  padding: 30px;
  -webkit-box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
}
.courses__page--btnWrap {
  margin-left: 15%;
}

CSS .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  CSS .container {
    width: 95%;
  }
}

.promotions {
  margin: 3em;
}
.promotions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 768px) {
  .promotions__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (max-width: 480px) {
  .promotions__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
.promotions__card {
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  border: 1px solid #ccc;
}
.promotions__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.promotions__text {
  padding: 0 10px 10px 10px;
}
.promotions__btns {
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.promotions__btns--green {
  width: 231px;
  height: 43px;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
}
.promotions__btns--white {
  width: 231px;
  height: 43px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}

.promotion__page {
  margin: 5em 0;
}
.promotion__page--about {
  margin: 8em 0;
}
.promotion__page--title {
  font-size: 58px;
  margin: 0;
}
.promotion__page--description {
  margin: 1em 0;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login__logo--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.login__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.login__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
}
.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin: 5em;
}
.login__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login__switch--btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}
.login__input--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.login__input {
  height: 30px;
  width: 300px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.login__help--btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2db7a8;
  font-weight: 600;
  font-size: 12px;
  padding: 0;
}
.login__btn {
  width: 316px;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
.login__btn:hover {
  background: #189789;
}
.login__btn:active {
  background: #033733;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 50px 120px;
  max-width: 1200px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}