.courses__page {
  display: flex;
  gap: 1em;
  margin: 4em 0 2em 0;
  height: 424px;
  &--photoWrap {
    border-radius: 20px;
    position: relative;
  }
  &--photo {
    max-width: 800px;
  }
  &--title {
    position: absolute;
    font-size: 32px;
    color: white;
    left: 20%;
    top: 20%;
  }
  &--about {
    max-width: 800px;
  }
  &--popup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 30px;
    -webkit-box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
  }
  &--btnWrap {
    margin-left: 15%;
  }
}
