
.container {
  width: 90%; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  @media (max-width: 768px) {
    width: 95%;
  }
}

.courses{
    margin: 3em;
    &__list{
        display: flex;
        flex-wrap: wrap; 
        gap: 2em;
        @media (max-width: 768px) {
            .grid-item {
                flex: 1 0 50%; 
            }
        }
        @media (max-width: 480px) {
            .grid-item {
                flex: 1 0 100%;
            }
        }
    }
    &__card {
        width: 300px;
        border: 2px solid #D9D9D9;
        border-radius: 20px;
        flex: 1 0 30%; 
        border: 1px solid #ccc;
    }
    &__img{
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: auto;
        display: block;
    }
    &__text {
        padding: 0 10px 10px 10px;
    }
    &__btns {
        padding: 0 10px 10px 10px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;

        margin-bottom: 1em;
    }
    &__btns--green{
        width: 231px;
        height: 43px;
        background: #2DB7A8;
        border: none;
        border-radius: 20px;
        color: white;
    }
    &__btns--white{
        width: 231px;
        height: 43px;
        background: #ffffff;
        border: 1px solid black;
        border-radius: 20px;
        color: black;
    }
}