.footer {
  background: $primary-color;
  width: 100%;
  height: 200px;
  margin-top: 120px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 0 120px;
  display: flex;
  justify-content: center;

  @media all and (max-width: 480px) {
    padding: 0;
  }

  &__wrapper {
    max-width: 1200px;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 480px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    @media all and (max-width: 320px) {
    }
  }

  &__logo-wrapper {
  }
  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  &__logo-text {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 800;
    color: #fff;
  }
  &__logo-text {
  }
  &__copyright {
    color: #fff;
    font-size: 16px;
    @media all and (max-width: 480px) {
      margin-top: 20px;
    }
  }
  &__title {
    color: #fff;
    font-size: 16px;
    @media all and (max-width: 480px) {
      margin-top: 20px;
    }
  }
}
