$primary-color: #033733;
$secondary-color: #2db7a8;
$black-color: #000000;

.header {
  max-width: 1200px; // temp size
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (max-width: 1024px) {
    padding: 0 70px;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  @media all and (max-width: 480px) {
    padding: 0 50px;
  }
  @media all and (max-width: 320px) {
    padding: 0 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  &__logo-text {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 800;
    color: $primary-color;
  }

  &__burger-menu {
    display: none;
    margin: 0 20px;
    cursor: pointer;

    &__burger-menu span,
    &::before,
    &::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: $secondary-color;
    }
    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &__burger-menu span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

    @media all and (max-width: 768px) {
      display: flex;
      align-items: center;
      z-index: 5;
      position: relative;
      width: 30px;
      height: 18px;
    }
  }

  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media all and (max-width: 768px) {
    }
  }

  &__category {
    margin-left: 60px;
    font-weight: 400;
    display: flex;
    list-style: none;
    padding: 0;

    @media all and (max-width: 1024px) {
      flex-direction: column;
      margin-left: 10px;
    }

    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__category-item {
    width: 83px;
    margin: 0 20px 0 0;
    font-size: 17px;
    text-decoration: none;
    color: $black-color;

    &:hover {
      color: $secondary-color;
      transition: color 0.3s ease;
    }
  }
  &__arrow {
    display: none;

    @media all and (max-width: 1024px) {
      display: block;
    }
    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin: 0 20px;
    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__contacts-phone {
    font-size: 17px;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;

    &:hover {
      color: $secondary-color;
      transition: color 0.3s ease;
    }
  }
  &__contacts-divider {
    margin: 0 5px;
    height: 18.5px;
    border-left: 1px solid #a9a9a9;
  }
  &__calls-wrapper {
    display: flex;
    @media all and (max-width: 480px) {
      display: none;
    }
  }

  &__call {
    font-weight: 200;
  }
  &__call-btn {
    width: 194px;
    height: 39px;
    background: none;
    outline: none;
    border-radius: 20px;
    border: 1px solid $secondary-color;
    font-size: 17px;
    cursor: pointer;

    &:hover {
      background: $secondary-color;
      color: #fff;
      transition: 0.3s ease;
    }
  }

  &__login {
    margin-left: 50px;
    display: flex;
    align-items: center;
    @media all and (max-width: 768px) {
      margin-left: 20px;
    }
  }
  &__login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    width: 105px;
    height: 39px;
    outline: none;
    border: none;
    color: #fff;
    background: $secondary-color;
    border-radius: 80px;
    cursor: pointer;

    &:hover {
      background: #189789;
      transition: 0.3s ease;
    }
  }
  &__login__language-btn {
    margin-left: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
  }
}
