$primary-color: #033733;
$secondary-color: #2db7a8;
$black-color: #000000;

.header {
  // max-width: 1200px; // temp size
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media all and (max-width: 1024px) {
    padding: 0 70px;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  @media all and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 50px;
  }
  @media all and (max-width: 480px) {
  }
  @media all and (max-width: 320px) {
    padding: 0 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  &__logo-text {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 800;
    color: $primary-color;
  }

  @media all and (max-width: 768px) {
    .menu-btn {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      width: 39px;
      min-width: 39px;
      height: 39px;
      color: $secondary-color;
      cursor: pointer;
      z-index: 99;
    }

    .btn-line {
      width: 100%;
      height: 2px;
      background: #000;
      margin: 3px auto;
      transition: all 0.3s ease-in-out;
      background: $secondary-color;
    }

    /*Animate lines*/
    .menu-btn.open .btn-line:nth-child(2) {
      opacity: 0;
    }

    .menu-btn.open .btn-line:nth-child(1) {
      transform: translateY(15px) rotate(45deg);
    }

    .menu-btn.open .btn-line:nth-child(3) {
      transform: translateY(-15px) rotate(-45deg);
    }

    .burger-popup {
      z-index: 9;
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      padding: 1rem;
      transform: translateX(150%);
      transition: left 0.3s ease 0.3s;
    }

    .burger-popup.active {
      transform: translateX(0%);
    }
  }

  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
  }

  &__category {
    margin-left: 60px;
    font-weight: 400;
    display: flex;
    list-style: none;
    padding: 0;

    &.active {
      display: block;
      z-index: 100;
    }
    &.active-burger {
      display: block;
      position: absolute;
      z-index: 100;
    }

    @media all and (max-width: 1024px) {
      flex-direction: column;
      margin-left: 10px;

      .hidden {
        display: none;
      }
      // исправить ошибку с hidden
    }

    @media all and (max-width: 768px) {
      display: none;
      width: 120px;
    }

    li {
      text-wrap: nowrap;
    }
  }
  &__category-item {
    width: 83px;
    margin: 0 20px 0 0;
    font-size: 17px;
    text-decoration: none;
    color: $black-color;

    &:hover {
      color: $secondary-color;
      transition: color 0.3s ease;
    }

    &.active {
      font-size: 48px;
      color: #fff;
    }
    @media all and (max-width: 1024px) {
      margin: 0 10px 0 20px;
    }
    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__arrow {
    display: none;
    cursor: pointer;

    @media all and (max-width: 1024px) {
      display: block;
      margin: 0;
    }
    @media all and (max-width: 768px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin: 0 20px;
    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__contacts-phone {
    font-size: 17px;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;

    &:hover {
      color: $secondary-color;
      transition: color 0.3s ease;
    }
  }
  &__contacts-divider {
    margin: 0 5px;
    height: 18.5px;
    border-left: 1px solid #a9a9a9;
  }
  &__calls-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 420px;
    @media all and (max-width: 480px) {
      display: none;
    }
  }

  &__call {
    font-weight: 200;
  }
  &__call-btn {
    width: 194px;
    height: 39px;
    background: none;
    outline: none;
    border-radius: 20px;
    border: 1px solid $secondary-color;
    font-size: 17px;
    cursor: pointer;

    &:hover {
      background: $secondary-color;
      color: #fff;
      transition: 0.3s ease;
    }
  }

  &__login {
    margin-left: 50px;
    display: flex;
    align-items: center;
    @media all and (max-width: 768px) {
      margin-left: 20px;
    }
  }
  &__login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    width: 105px;
    height: 39px;
    outline: none;
    border: none;
    color: #fff;
    background: $secondary-color;
    border-radius: 80px;
    cursor: pointer;

    &:hover {
      background: #189789;
      transition: 0.3s ease;
    }
  }
  &__login-language-btn {
    margin-left: 20px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    @media all and (max-width: 768px) {
      display: none;
    }
  }
}
