$primary-color: #033733;
$secondary-color: #2db7a8;
$black-color: #000000;

.homepage {
  @media all and (max-width: 1024px) {
    padding: 0 70px;
  }
}
.landing {
  width: 100%;
  display: flex;
  margin-bottom: 200px;
  flex-wrap: wrap;

  &__info-wrapper {
    margin-top: 150px;
    width: 590px;
    height: 282px;
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
  }
  &__title {
    width: 590px;
    font-weight: 700;
    font-size: 44px;
    color: $primary-color;
    margin: 0;
  }
  &__subtitle {
    margin: 20px 0;
    font-size: 20px;
  }
  &__courses-btn {
    width: 331px;
    height: 81px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 48px;
    border: none;
    outline: none;
    background: $secondary-color;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #189789;
    }
    &:active {
      background: $primary-color;
      transition: 0.3s ease;
    }
  }

  //   img-wrapper
  &__img-wrapper {
    position: relative;
  }
  &__img-vector {
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 50px;
  }
  &__img {
    width: 666px;
    height: 666px;
    position: absolute;
    z-index: 2;
  }
}

.section-title {
  color: $primary-color;
  user-select: none;
  margin: 50px 0;
}

// courses

.courses {
  position: relative;

  &__arrow-btn-block {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
  }
  &__arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background: $secondary-color;
    border-radius: 100%;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background: $primary-color;
    }
  }
  &__arrow-left {
  }
  &__arrow-right {
    transform: scale(-1, 1);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__card {
    width: 380px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  &__img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    display: block;
  }
  &__text {
    padding: 0 10px 10px 10px;

    h3 {
      font-size: 24px;
      color: $primary-color;
    }
    p {
      font-size: 16px;
      color: #5a5a5a;
    }
  }
  &__btn {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 1em;
  }
  &__btn-green {
    width: 231px;
    height: 43px;
    font-weight: 700;
    background: $secondary-color;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: #189789;
      color: #fff;
    }
  }
  &__btn-white {
    width: 231px;
    height: 43px;
    font-weight: 700;
    background: #ffffff;
    border: 1px solid $secondary-color;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: $secondary-color;
      color: #fff;
    }
  }
  @media all and (max-width: 1024px) {
    &__list {
      width: 100%;
      display: flex;
    }
  }
  @media all and (max-width: 768px) {
  }
}

// promotion

.promotion {
  height: 450px;

  &__wrapper {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
.swiper {
  width: 100%;
  height: 350px;
  cursor: pointer;
}
.swiper-wrapper {
}
.swiper-slide {
  position: absolute;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.swiper-slide img {
  object-fit: contain;
  display: block;
  width: 720px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}

// about-school

.about-school {
  &__img {
    object-fit: cover;
    width: 100%;
  }
  &__text-container {
    p {
      font-size: 20px;
      font-weight: 400;
      color: #5a5a5a;
    }
    strong {
      color: #000000;
      margin: 0;
      padding: 0;
    }
  }
}

// our-teacher

.our-teacher {
  &__card-info-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  &__card-info-item {
  }
  &__card-info-name {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }
  &__card-info-desc {
    color: #5a5a5a;
    font-size: 15px;
    line-height: 21px;
    width: 100%;
    height: 100%;
  }
  &__card-info-img {
    max-width: 380px;
    max-height: 422px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media all and (max-width: 1024px) {
    &__card-info-list {
      gap: 20px;
    }
  }
  @media all and (max-width: 768px) {
    &__card-info-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

// contacts

.contacts {
  margin-top: 50px;
  background: $primary-color;
  width: 100%;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }

  &__info {
    display: flex;
  }
  &__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__info-title {
    color: #fff;
    font-size: 32px;
    margin: 0 0 30px;
  }
  &__info-phone,
  &__info-mail {
    display: flex;
    align-items: start;
  }
  &__info-mail {
    margin-top: 30px;
  }
  &__info-phone-img {
    margin-right: 20px;
    width: 22px;
    height: 22px;
  }
  &__info-phone-numbers {
    display: flex;
    flex-direction: column;
  }
  &__divider {
    margin: 0 5px;
    height: 163px;
    border-left: 1px solid #a9a9a9;
    margin: 0 20px;
  }

  &__subscribe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subscribe-title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
  &__subscribe-input {
    display: flex;
  }
  &__subscribe-email {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 364px;
    height: 64px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 17px;
    padding: 15px;
    color: #b3b3b3;
  }
  &__subscribe-btn {
    margin: 0;
    margin-left: -5px;
    padding: 0;
    width: 177px;
    height: 64px;
    border-radius: 0px 20px 20px 0px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: $secondary-color;
    box-sizing: border-box;
  }

  @media all and (max-width: 1024px) {
  }
  @media all and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
