.homepage {
  @media all and (max-width: 1024px) {
    padding: 0 70px;
  }
  @media all and (max-width: 768px) {
    padding: 0 50px;
  }
  @media all and (max-width: 480px) {
    padding: 50px;
    overflow-x: hidden;
  }
  @media all and (max-width: 320px) {
    padding: 10px;
  }
}
.landing {
  width: 100%;
  display: flex;
  margin-bottom: 200px;
  flex-wrap: wrap;

  @media all and (max-width: 480px) {
    margin-bottom: 0;
  }
  &__info-wrapper {
    margin-top: 150px;
    width: 590px;
    height: 282px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media all and (max-width: 480px) {
      width: 100%;
      margin-top: 0;
      height: 100%;
    }
    @media all and (max-width: 320px) {
      margin-top: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    width: 590px;
    font-weight: 700;
    font-size: 44px;
    color: $primary-color;
    margin: 0;

    @media all and (max-width: 480px) {
      font-size: 32px;
      width: 100%;
    }
    @media all and (max-width: 320px) {
      font-size: 25.64px;
      width: 100%;
    }
  }
  &__subtitle {
    margin: 20px 0;
    font-size: 20px;
    @media all and (max-width: 480px) {
      font-size: 16px;
    }
    @media all and (max-width: 320px) {
      font-size: 12.82px;
    }
  }
  &__courses-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 331px;
    height: 81px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 48px;
    border: none;
    outline: none;
    background: $secondary-color;
    color: #fff;
    cursor: pointer;

    @media all and (max-width: 480px) {
      width: 100%;
    }

    &:hover {
      background: #189789;
    }
    &:active {
      background: $primary-color;
      transition: 0.3s ease;
    }
  }

  //   img-wrapper
  &__img-wrapper {
    position: relative;
    height: 350px;
    display: flex;
    flex-wrap: nowrap;

    @media all and (max-width: 1024px) {
    }
    @media all and (max-width: 480px) {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }
    @media all and (max-width: 320px) {
      height: 250px;
    }
  }
  &__img-vector {
    z-index: 1;
    position: absolute;
    top: 70px;
    left: 50px;

    @media all and (max-width: 1024px) {
      top: 50px;
      left: 30px;
      width: 482px;
    }
    @media all and (max-width: 480px) {
      top: 0;
      left: 20px;
      width: 318.34px;
      height: 381.1px;
    }
    @media all and (max-width: 320px) {
      width: 251.66px;
      height: 301.28px;
      top: 0;
      left: 15px;
    }
  }
  &__img {
    width: 666px;
    height: 666px;
    position: absolute;
    z-index: 2;

    @media all and (max-width: 1024px) {
      width: 482px;
      height: 482px;
    }
    @media all and (max-width: 480px) {
      width: 318.34px;
      height: 381.1px;
    }
    @media all and (max-width: 320px) {
      width: 251.66px;
      height: 301.28px;
    }
  }
}

.section-title {
  color: $primary-color;
  user-select: none;
  margin: 50px 0;
  @media all and (max-width: 320px) {
  }
}

// courses

.courses {
  display: flex;
  flex-direction: column;
  margin: 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;

    @media all and (max-width: 1024px) {
      width: 100%;
      display: flex;
    }
  }

  // &__arrow-btn-wrapper {
  //   display: flex;
  //   justify-content: space-between;
  //   position: absolute;
  //   top: 50%;
  //   left: 0;
  //   width: 100%;
  //   transform: translateY(-50%);
  // }

  .swiper-button-next,
  .swiper-button-prev {
    min-width: 90px;
    min-height: 90px;
    width: 90px;
    height: 90px;
    background: $secondary-color;
    border-radius: 100%;
    transition: 0.3s ease;
    cursor: pointer;
    &::after {
      content: "";
    }
    svg {
      width: 28px;
      height: 28px;
    }
  }
  &__arrow-btn {
    @media all and (max-width: 480px) {
      position: static;
      min-width: 67px;
      width: 67px;
      height: 67px;
    }

    @media all and (max-width: 320px) {
      position: static;
      min-width: 67px;
      width: 67px;
      height: 67px;
      top: 1220px;
    }

    &:hover {
      background: $primary-color;
    }
  }
  &__arrow-left {
    left: 0;
  }
  &__arrow-right {
    right: 0;
    transform: scale(-1, 1);
  }

  &__card {
    width: 380px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    border: 1px solid #ccc;

    @media all and (max-width: 768px) {
      width: 100%;
    }
    @media all and (max-width: 320px) {
    }
  }
  @media all and (max-width: 1024px) {
    #card-3 {
      display: none;
    }
  }
  @media all and (max-width: 768px) {
    #card-2,
    #card-3 {
      display: none;
    }
  }

  &__img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: auto;
    display: block;
  }
  &__text {
    padding: 0 10px 10px 10px;

    h3 {
      font-size: 24px;
      color: $primary-color;
    }
    p {
      font-size: 16px;
      color: #5a5a5a;
    }
  }
  &__btn {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 1em;
  }
  &__btn-green {
    width: 231px;
    height: 43px;
    font-weight: 700;
    background: $secondary-color;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    @media all and (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      background: #189789;
      color: #fff;
    }
  }
  &__btn-white {
    width: 231px;
    height: 43px;
    font-weight: 700;
    background: #ffffff;
    border: 1px solid $secondary-color;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
    @media all and (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      background: $secondary-color;
      color: #fff;
    }
  }
}

// promotion

.promotion {
  height: 450px;

  &__wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    @media all and (max-width: 320px) {
      width: 100%;
    }
  }
}
.swiper {
  width: 100%;
  height: 400px;
  cursor: pointer;

  @media all and (max-width: 768px) {
    height: 320px;
  }
  @media all and (max-width: 480px) {
  }
}
.swiper-wrapper {
}
.swiper-slide {
  width: 720px;
  min-width: 720px;
  position: absolute;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: 1024px) {
  }
  @media all and (max-width: 768px) {
    margin-right: 170px !important;
    width: 577px;
    min-width: 577px;
    height: 280px;
  }
  @media all and (max-width: 480px) {
    margin-right: 250px !important;
    width: 356px;
    min-width: 356px;
    height: 280px;
  }
  @media all and (max-width: 320px) {
    min-width: 577px;
    width: 100%;
    height: 280px;
  }
}
.swiper-slide img {
  display: flex;
  gap: 20;
  object-fit: cover;
  display: block;
  width: 720px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
  @media all and (max-width: 768px) {
    min-width: 577px;
    height: 280px;
  }
  @media all and (max-width: 480px) {
    width: 285px;
    height: 280px;
  }
  .swiper-pagination {
  }
}

// about-school

.about-school {
  &__img {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 463px;
    @media all and (max-width: 480px) {
      height: 283px;
      width: 100%;
    }
  }
  &__text-container {
    p {
      font-size: 20px;
      font-weight: 400;
      color: #5a5a5a;
    }
    strong {
      color: #000000;
      margin: 0;
      padding: 0;
    }
  }
}

// our-teacher

.our-teacher {
  &__card-info-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @media all and (max-width: 1024px) {
      gap: 20px;
    }
    @media all and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }
  }
  &__card-info-item {
    @media all and (max-width: 768px) {
      width: 270px;
    }
    @media all and (max-width: 480px) {
      width: 100%;
    }
  }
  &__card-info-name {
    font-size: 24px;
    font-weight: 700;
    color: $primary-color;
  }
  &__card-info-desc {
    color: #5a5a5a;
    font-size: 15px;
    line-height: 21px;
    @media all and (max-width: 768px) {
      padding-left: 20px;
    }
  }
  &__card-info-img {
    max-width: 380px;
    max-height: 422px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media all and (max-width: 768px) {
      width: 267px;
      height: 288px;
    }
    @media all and (max-width: 480px) {
      width: 100%;
      height: 100%;
    }
  }
}

// contacts

.contacts {
  margin-top: 50px;
  background: $primary-color;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  @media all and (max-width: 768px) {
    padding: 70px;
  }
  @media all and (max-width: 480px) {
    padding: 50px;
  }
  @media all and (max-width: 320px) {
    padding: 30px;
  }

  span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    @media all and (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    @media all and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__info-wrapper {
    height: 100%;
    padding: 0;
  }

  &__info-title {
    color: #fff;
    font-size: 32px;
    margin: 0 0 30px;
    width: 100%;
    @media all and (max-width: 480px) {
      text-align: center;
      font-size: 46px;
    }
    @media all and (max-width: 320px) {
      font-size: 36.29px;
    }
  }
  &__info-phone,
  &__info-mail {
    display: flex;
    align-items: start;
  }
  &__info-mail {
    margin-top: 30px;
  }
  &__info-phone-img {
    margin-right: 20px;
    width: 22px;
    height: 22px;
  }
  &__info-phone-numbers {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 10px;
    }
    @media all and (max-width: 320px) {
      font-size: 19.28px;
    }
  }
  &__divider {
    margin: 0 20px;
    height: 168px;
    border-right: 1px solid #ffffff;
    @media all and (max-width: 768px) {
      height: 0;
      margin: 20px 0;
      width: 100%;
      border-top: 2px solid #ffffff;
    }
  }

  &__subscribe-container {
    width: 100%;
    box-sizing: border-box;
    @media all and (max-width: 480px) {
      width: 200px;
      display: flex;
      flex-direction: column;
    }
  }

  &__subscribe-title {
    width: 100%;
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    @media all and (max-width: 480px) {
      width: 220px;
      text-wrap: wrap;
      text-align: left;
    }
  }
  &__subscribe-input {
    display: flex;
    width: 100%;
    @media all and (max-width: 480px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__subscribe-email {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 64px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 17px;
    padding: 15px;
    color: #b3b3b3;
    @media all and (max-width: 480px) {
      width: 220px;
      border-radius: 20px;
      margin: 0;
    }
  }
  &__subscribe-btn {
    margin: 0;
    margin-left: -5px;
    padding: 0;
    width: 177px;
    // min-width: 150px;
    height: 64px;
    border-radius: 0px 20px 20px 0px;
    font-size: 17px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: $secondary-color;
    box-sizing: border-box;
    @media all and (max-width: 480px) {
      width: 220px;
      border-radius: 20px;
      margin: 0;
      margin-top: 30px;
    }
  }
}
