.promotion__page{
    margin: 5em 0;
    &--about{
        margin: 8em 0; 
    }
    &--title{
        font-size: 58px;
        margin: 0;
    }
    &--description{
        margin: 1em 0;
    }
}