@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  height: 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.header__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
  color: #033733;
}
.header .menu-btn {
  display: none;
  /*Animate lines*/
}
@media all and (max-width: 768px) {
  .header .menu-btn {
    display: block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 39px;
    min-width: 39px;
    height: 39px;
    color: #2db7a8;
    cursor: pointer;
    z-index: 99;
  }
}
.header .menu-btn .btn-line {
  width: 100%;
  height: 2px;
  background: #000;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
  background: #2db7a8;
}
.header .menu-btn .menu-btn.active .btn-line:nth-child(2) {
  opacity: 0;
}
.header .menu-btn .menu-btn.active .btn-line:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
.header .menu-btn .menu-btn.active .btn-line:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}
.header .menu-btn.active {
  overflow: hidden;
}
.header .burger-popup {
  display: none;
}
@media all and (max-width: 768px) {
  .header .burger-popup {
    display: block;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #033733;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
}
.header .burger-popup.active {
  transform: translateX(0);
  display: none;
}
@media all and (max-width: 768px) {
  .header .burger-popup.active {
    display: block;
  }
}
.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
}
.header__category {
  z-index: 10;
  font-weight: 400;
  display: flex;
  list-style: none;
  padding: 0;
}
@media all and (max-width: 1024px) {
  .header__category {
    display: block;
  }
}
@media all and (max-width: 768px) {
  .header__category {
    display: none;
  }
}
.header__category.active {
  display: block;
  z-index: 100;
}
.header__category.active-burger {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 100px;
  right: 70px;
}
.header__category.active-burger .header__category-item {
  display: block;
  text-align: right;
  width: 100%;
  margin: 20px 0 0;
  z-index: 100;
  font-size: 36pt;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}
.header__category.active-burger .header__category-item:hover {
  transition: color 0.3s ease;
  color: #2db7a8;
}
@media all and (max-width: 1024px) {
  .header__category {
    flex-direction: column;
    margin-left: 10px;
  }
  .header__category .hidden {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .header__category {
    display: none;
    width: 120px;
  }
}
.header__category li {
  text-wrap: nowrap;
}
.header__category-item {
  width: 83px;
  margin: 0 20px 0 0;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}
.header__category-item:hover {
  color: #2db7a8;
  transition: color 0.3s ease;
}
.header__category-item.active {
  display: block;
  font-size: 48px;
  color: #fff;
}
@media all and (max-width: 1024px) {
  .header__category-item {
    margin: 0 10px 0 20px;
  }
}
@media all and (max-width: 768px) {
  .header__category-item {
    display: none;
  }
}
.header__arrow {
  display: none;
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  .header__arrow {
    display: block;
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  .header__arrow {
    display: none;
  }
}
.header__contacts {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
@media all and (max-width: 768px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts-phone {
  font-size: 17px;
  margin: 0 5px;
  text-decoration: none;
  color: #000000;
}
.header__contacts-phone:hover {
  color: #2db7a8;
  transition: color 0.3s ease;
}
.header__contacts-divider {
  margin: 0 5px;
  height: 18.5px;
  border-left: 1px solid #a9a9a9;
}
.header__calls-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 420px;
}
@media all and (max-width: 480px) {
  .header__calls-wrapper {
    display: none;
  }
}
.header__call {
  font-weight: 200;
}
.header__call-btn {
  width: 194px;
  height: 39px;
  background: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid #2db7a8;
  font-size: 17px;
  cursor: pointer;
}
.header__call-btn:hover {
  background: #2db7a8;
  color: #fff;
  transition: 0.3s ease;
}
.header__login {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
@media all and (max-width: 768px) {
  .header__login {
    margin-left: 20px;
  }
}
.header__login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  width: 105px;
  height: 39px;
  outline: none;
  border: none;
  color: #fff;
  background: #2db7a8;
  border-radius: 80px;
  cursor: pointer;
}
.header__login-btn:hover {
  background: #189789;
  transition: 0.3s ease;
}
.header__login-language-btn {
  margin-left: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
@media all and (max-width: 768px) {
  .header__login-language-btn {
    display: none;
  }
}

.login {
  display: flex;
}
.login__logo--wrap {
  display: flex;
  justify-content: center;
}
.login__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.login__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 3em;
  background-color: #fff;
  font-size: 33px;
  color: red;
}
.login__switch {
  display: flex;
  justify-content: space-between;
}
.login__switch--btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}
.login__input--wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login__input {
  height: 30px;
  width: 300px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.login__help--btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2db7a8;
  font-weight: 600;
  font-size: 12px;
  padding: 0;
}
.login__btn {
  width: 316px;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
.login__btn:hover {
  background: #189789;
}
.login__btn:active {
  background: #033733;
  transition: 0.3s ease;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.courses {
  width: 100%;
}
.courses__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 768px) {
  .courses__list .grid-item {
    flex: 1 0 50%;
  }
}
@media (max-width: 480px) {
  .courses__list .grid-item {
    flex: 1 0 100%;
  }
}
.courses__card {
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  flex: 1 0 30%;
  border: 1px solid #ccc;
}
.courses__img {
  border-radius: 20px 20px 0 0;
  height: auto;
  display: block;
}
.courses__text {
  padding: 0 10px 10px 10px;
}
.courses__btns {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}
.courses__btn--green {
  width: 231px;
  height: 43px;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
}
.courses__btn--white {
  width: 231px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #2db7a8;
  border-radius: 20px;
  color: black;
}

.courses__page {
  display: flex;
  gap: 1em;
  margin: 4em 0 2em 0;
  height: 424px;
}
@media (max-width: 1250px) {
  .courses__page {
    flex-wrap: wrap;
    margin-bottom: 25em;
  }
}
@media (max-width: 1250px) {
  .courses__page {
    margin-bottom: 15em;
  }
}
.courses__page--photoWrap {
  border-radius: 20px;
  position: relative;
}
.courses__page--photo {
  max-width: 800px;
}
@media (max-width: 890px) {
  .courses__page--photo {
    max-width: 542px;
  }
}
@media (max-width: 466px) {
  .courses__page--photo {
    max-width: 100%;
  }
}
.courses__page--title {
  position: absolute;
  font-size: 32px;
  color: white;
  left: 20%;
  top: 20%;
}
@media (max-width: 890px) {
  .courses__page--title {
    font-size: 18px;
  }
}
@media (max-width: 466px) {
  .courses__page--subtitle {
    font-size: 14px;
  }
}
.courses__page--about {
  max-width: 800px;
}
.courses__page--popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  padding: 28px;
  box-shadow: -2px 0px 10px 7px rgba(0, 0, 0, 0.2);
}
@media (max-width: 556px) {
  .courses__page--popup {
    padding: 8px;
  }
}
@media only screen and (max-width: 444px) {
  .courses__page--popup {
    max-width: 330px;
  }
}
.courses__page--btnWrap {
  margin-left: 15%;
}
@media only screen and (max-width: 444px) {
  .courses__page--btnWrap {
    margin-left: 0;
  }
}
@media (max-width: 556px) {
  .courses__page--btn-green {
    width: 100px !important;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}

.promotions__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 768px) {
  .promotions__list .grid-item {
    flex: 1 0 50%;
  }
}
@media (max-width: 480px) {
  .promotions__list .grid-item {
    flex: 1 0 100%;
  }
}
.promotions__card {
  width: 300px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  flex: 1 0 30%;
  border: 1px solid #ccc;
}
.promotions__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.promotions__text {
  padding: 0 10px 10px 10px;
}
.promotions__text h3 {
  font-size: 24px;
  color: #033733;
}
.promotions__text p {
  font-size: 16px;
  color: #5a5a5a;
}
.promotions__btn {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}
.promotions__btn--green {
  width: 231px;
  height: 43px;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
}
.promotions__btn--white {
  width: 231px;
  height: 43px;
  background: #ffffff;
  border: 1px solid #2db7a8;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.promotion__page {
  margin: 5em 0;
}
.promotion__page--about {
  margin: 8em 0;
}
@media all and (max-width: 480px) {
  .promotion__page--about {
    margin: 5em 0;
  }
}
.promotion__page--title {
  font-size: 58px;
  margin: 0;
}
@media all and (max-width: 480px) {
  .promotion__page--title {
    font-size: 50px;
  }
}
.promotion__page--description {
  margin: 1em 0;
}
.promotion__page--btnGreen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  width: 200px;
  height: 39px;
  outline: none;
  border: none;
  color: #fff;
  background: #2db7a8;
  border-radius: 80px;
  cursor: pointer;
}

.login {
  display: flex;
}
.login__logo--wrap {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.login__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.login__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 3em;
}
.login__switch {
  display: flex;
  justify-content: space-between;
}
.login__switch--btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}
.login__input--wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login__input {
  height: 30px;
  width: 300px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
}
.login__help--btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2db7a8;
  font-weight: 600;
  font-size: 12px;
  padding: 0;
}
.login__btn {
  width: 316px;
  height: 42px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
.login__btn:hover {
  background: #189789;
}
.login__btn:active {
  background: #033733;
  transition: 0.3s ease;
}

.landing {
  width: 100%;
  display: flex;
  margin: 50px 0 200px;
  flex-wrap: wrap;
}
@media all and (max-width: 480px) {
  .landing {
    margin-bottom: 0;
  }
}
.landing__info-wrapper {
  margin-top: 150px;
  width: 590px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 890px) {
  .landing__info-wrapper {
    margin-top: 3em;
  }
}
@media all and (max-width: 480px) {
  .landing__info-wrapper {
    width: 100%;
    margin-top: 0;
    height: 100%;
  }
}
@media all and (max-width: 320px) {
  .landing__info-wrapper {
    margin-top: 0;
  }
}
.landing__title {
  width: 590px;
  font-weight: 700;
  font-size: 44px;
  color: #033733;
  margin: 0;
}
@media all and (max-width: 480px) {
  .landing__title {
    font-size: 32px;
    width: 100%;
  }
}
@media all and (max-width: 320px) {
  .landing__title {
    font-size: 25.64px;
    width: 100%;
  }
}
.landing__subtitle {
  margin: 20px 0;
  font-size: 20px;
}
@media all and (max-width: 480px) {
  .landing__subtitle {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .landing__subtitle {
    font-size: 12.82px;
  }
}
.landing__courses-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 331px;
  height: 81px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 48px;
  border: none;
  outline: none;
  background: #2db7a8;
  color: #fff;
  cursor: pointer;
}
@media all and (max-width: 480px) {
  .landing__courses-btn {
    width: 100%;
  }
}
.landing__courses-btn:hover {
  background: #189789;
}
.landing__courses-btn:active {
  background: #033733;
  transition: 0.3s ease;
}
.landing__img-wrapper {
  position: relative;
  height: 350px;
  display: flex;
  flex-wrap: nowrap;
}
@media all and (max-width: 480px) {
  .landing__img-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media all and (max-width: 320px) {
  .landing__img-wrapper {
    height: 250px;
  }
}
.landing__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 666px;
  height: 666px;
  position: absolute;
  z-index: 2;
}
@media all and (max-width: 1024px) {
  .landing__img {
    width: 482px;
    height: 482px;
  }
}
@media all and (max-width: 480px) {
  .landing__img {
    width: 318.34px;
    height: 381.1px;
  }
}
@media all and (max-width: 320px) {
  .landing__img {
    width: 251.66px;
    height: 301.28px;
  }
}

.section-title {
  color: #033733;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 50px 0;
}
.courses {
  margin: 0;
}
.courses .swiper {
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .courses .swiper {
    height: 100%;
  }
}
.courses__btn-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
}
.courses .swiper-button-next,
.courses .swiper-button-prev {
  min-width: 90px;
  min-height: 90px;
  width: 90px;
  height: 90px;
  background: #2db7a8;
  border-radius: 100%;
  transition: 0.3s ease;
  cursor: pointer;
}
.courses .swiper-button-next::after,
.courses .swiper-button-prev::after {
  content: "";
}
.courses .swiper-button-next svg,
.courses .swiper-button-prev svg {
  width: 28px;
  height: 28px;
}
@media all and (max-width: 480px) {
  .courses__arrow-btn {
    position: static;
    min-width: 67px;
    width: 67px;
    height: 67px;
  }
}
@media all and (max-width: 320px) {
  .courses__arrow-btn {
    position: static;
    min-width: 67px;
    width: 67px;
    height: 67px;
  }
}
.courses__arrow-btn:hover {
  background: #033733;
}
.courses__arrow-left {
  left: 0;
}
.courses__arrow-right {
  right: 0;
  transform: scale(-1, 1);
}
.courses__slide {
  display: flex;
}
.courses__card {
  border: 2px solid #d9d9d9;
  border-radius: 20px;
  border: 1px solid #ccc;
}
@media all and (max-width: 768px) {
  .courses__card {
    width: 100%;
    min-width: none;
  }
}
.courses__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.courses__text {
  padding: 0 10px 10px 10px;
}
.courses__text h3 {
  font-size: 24px;
  color: #033733;
}
.courses__text p {
  font-size: 16px;
  color: #5a5a5a;
}
.courses__btn {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 1em;
}
.courses__btn-green {
  min-width: 231px;
  width: 100%;
  height: 43px;
  font-weight: 700;
  background: #2db7a8;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
@media all and (max-width: 768px) {
  .courses__btn-green {
    width: 100%;
  }
}
.courses__btn-green:hover {
  background: #189789;
  color: #fff;
}
.courses__btn-white {
  min-width: 231px;
  width: 100%;
  height: 43px;
  font-weight: 700;
  background: #ffffff;
  border: 1px solid #2db7a8;
  border-radius: 20px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
}
@media all and (max-width: 768px) {
  .courses__btn-white {
    width: 100%;
  }
}
.courses__btn-white:hover {
  background: #2db7a8;
  color: #fff;
}

.promotion {
  height: 450px;
}
.promotion .swiper {
  width: 100%;
  height: 400px;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .promotion .swiper {
    height: 320px;
  }
}
.promotion__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
}
@media all and (max-width: 320px) {
  .promotion__wrapper {
    width: 100%;
  }
}
.promotion__slide {
  width: 720px;
  min-width: 720px;
  position: absolute;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promotion__img {
  display: flex;
  gap: 20;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 720px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}
@media all and (max-width: 480px) {
  .promotion__img {
    width: 285px;
    height: 280px;
  }
}
@media all and (max-width: 768px) {
  .promotion__img {
    width: 420px;
    height: auto;
  }
}

.about-school__img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 463px;
}
@media all and (max-width: 480px) {
  .about-school__img {
    height: 283px;
    width: 100%;
  }
}
.about-school__text-container p {
  font-size: 20px;
  font-weight: 400;
  color: #5a5a5a;
}
.about-school__text-container strong {
  color: #000000;
  margin: 0;
  padding: 0;
}

.our-teacher__card-info-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media all and (max-width: 1024px) {
  .our-teacher__card-info-list {
    gap: 20px;
  }
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-item {
    width: 270px;
  }
}
@media all and (max-width: 480px) {
  .our-teacher__card-info-item {
    width: 100%;
  }
}
.our-teacher__card-info-name {
  font-size: 24px;
  font-weight: 700;
  color: #033733;
}
.our-teacher__card-info-desc {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 21px;
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-desc {
    padding-left: 20px;
  }
}
.our-teacher__card-info-img {
  max-width: 380px;
  max-height: 422px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media all and (max-width: 768px) {
  .our-teacher__card-info-img {
    width: 267px;
    height: 288px;
  }
}
@media all and (max-width: 480px) {
  .our-teacher__card-info-img {
    width: 100%;
    height: 100%;
  }
}

.contacts {
  margin-top: 50px;
  background: #033733;
  width: 100%;
  height: 100%;
  min-height: 400px;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media all and (max-width: 768px) {
  .contacts {
    padding: 70px;
  }
}
@media all and (max-width: 480px) {
  .contacts {
    padding: 28px;
  }
}
.contacts span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
.contacts__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
  .contacts__info {
    display: flex;
    flex-wrap: wrap;
  }
}
.contacts__info-wrapper {
  height: 100%;
  padding: 0;
}
.contacts__info-title {
  color: #fff;
  font-size: 32px;
  margin: 0 0 30px;
  width: 100%;
}
@media (max-width: 480px) {
  .contacts__info-title {
    text-align: center;
    font-size: 34px;
  }
}
@media all and (max-width: 320px) {
  .contacts__info-title {
    font-size: 36.29px;
  }
}
.contacts__info-phone, .contacts__info-mail {
  display: flex;
  align-items: start;
}
.contacts__info-mail {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
@media (max-width: 480px) {
  .contacts__info-mailtitle {
    font-size: 18px;
  }
}
.contacts__info-phone-img {
  margin-right: 20px;
  width: 22px;
  height: 22px;
}
.contacts__info-phone-numbers {
  display: flex;
  flex-direction: column;
}
.contacts__info-phone-numbers span {
  margin-bottom: 10px;
}
@media all and (max-width: 320px) {
  .contacts__info-phone-numbers {
    font-size: 19.28px;
  }
}
.contacts__divider {
  margin: 0 20px;
  height: 168px;
  border-right: 1px solid #ffffff;
}
@media all and (max-width: 768px) {
  .contacts__divider {
    height: 0;
    margin: 20px 0;
    width: 100%;
    border-top: 2px solid #ffffff;
  }
}
.contacts__subscribe-container {
  width: 100%;
  box-sizing: border-box;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-container {
    display: flex;
    flex-direction: column;
  }
}
.contacts__subscribe-title {
  width: 100%;
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-title {
    width: 220px;
    text-wrap: wrap;
    text-align: left;
  }
}
.contacts__subscribe-input {
  display: flex;
  width: 100%;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.contacts__subscribe-email {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 64px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 17px;
  padding: 15px;
  color: #b3b3b3;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-email {
    width: 100%;
    border-radius: 20px;
    margin: 0;
  }
}
.contacts__subscribe-btn {
  margin: 0;
  margin-left: -5px;
  padding: 0;
  width: 177px;
  height: 64px;
  border-radius: 0px 20px 20px 0px;
  font-size: 17px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: #2db7a8;
  box-sizing: border-box;
}
@media all and (max-width: 480px) {
  .contacts__subscribe-btn {
    width: 100%;
    border-radius: 20px;
    margin: 0;
    margin-top: 30px;
  }
}

.footer {
  background: #033733;
  width: 100%;
  height: 200px;
  margin-top: 120px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 0 120px;
  display: flex;
  justify-content: center;
}
@media all and (max-width: 480px) {
  .footer {
    padding: 0;
  }
}
.footer__wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media all and (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.footer__logo-text {
  font-size: 20px;
  margin-left: 5px;
  font-weight: 800;
  color: #fff;
}
.footer__copyright {
  color: #fff;
  font-size: 16px;
}
@media all and (max-width: 480px) {
  .footer__copyright {
    margin-top: 20px;
  }
}
.footer__title {
  color: #fff;
  font-size: 16px;
}
@media all and (max-width: 480px) {
  .footer__title {
    margin-top: 20px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  overflow-x: hidden;
  margin: 50px 0;
  max-width: 1400px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}
@media all and (max-width: 1024px) {
  .wrapper {
    padding: 0 70px;
  }
}
@media all and (max-width: 768px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media all and (max-width: 480px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media all and (max-width: 320px) {
  .wrapper {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.contacts__info-phone {
  color: white;
}

.contacts__info-phone:hover {
  color: #2db7a8;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */