@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./header";
@import "./homepage";
@import "./login";

$primary-color: #033733;
$secondary-color: #2db7a8;
$black-color: #000000;

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin: 50px 120px;
  max-width: 1200px;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
