@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./header";
@import "./homepage";
@import "./login";
@import "./courses";
@import "./coursesPage";
@import "./promotion";
@import "./promotionPage";
@import "./registration";
@import "./footer";

$primary-color: #033733;
$secondary-color: #2db7a8;
$black-color: #000000;

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper {
  margin: 50px 120px 0;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

@media all and (max-width: 1028px) {
}
@media all and (max-width: 768px) {
}
