CSS .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  CSS .container {
    width: 95%;
  }
}

.promotions {
  margin: 3em;
}
.promotions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}
@media (max-width: 768px) {
  .promotions__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media (max-width: 480px) {
  .promotions__list .grid-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
.promotions__card {
  width: 300px;
  border: 2px solid #D9D9D9;
  border-radius: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  border: 1px solid #ccc;
}
.promotions__img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: auto;
  display: block;
}
.promotions__text {
  padding: 0 10px 10px 10px;
}
.promotions__btns {
  padding: 0 10px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.promotions__btns--green {
  width: 231px;
  height: 43px;
  background: #2DB7A8;
  border: none;
  border-radius: 20px;
  color: white;
}
.promotions__btns--white {
  width: 231px;
  height: 43px;
  background: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
}